:root {

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

form {
    display:none;
}

.submit {
    display: grid;
}

.displayBook div {
    display:grid;
    grid-template-columns: 1fr;
    margin: 15px;
}

#shelf {
    width: 80vw;
    height:auto;
    outline: solid brown .25rem;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

#shelf div {
    height: 25vh;
    width: 32vh;
    border: solid black 4px;
    border-radius: 8px;
    box-shadow: ;
    padding: 3px;
    margin: 10px;
}

button {
    margin: 6px;
    padding: 5px;
    background-color:cornflowerblue;
    color: white;
    font-weight: bolder;
    border: solid black .25rem;
    border-radius: 8px;
}

#formButton {
    margin: 2rem;
}

#shelf div p {
    padding-left: 15px;
}

form {
    border: solid black .25rem;
    padding: .5rem;
    border-radius: 10px;
}

form .fields {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;;
    padding-bottom: .5rem;;
}